@model IEnumerable<KershKeepers.Models.EFModels.Category>

<div class="container">
    <p>
        @*@Html.ActionLink("Create New", "Create",null, new { @class = "btn btn-primary" })*@
        @Ajax.ActionLink("Create New", "Create",null, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "Category" }, htmlAttributes: new { @class = "btn btn-primary" })
        @*@Ajax.ActionLink("Create New", "Create", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace , UpdateTargetId = "Category" }, htmlAttributes: new { @class = "btn btn-primary" })*@
    </p>

    <br />
    <br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Image)*@
                    @*<img src="@item.Image" class="rounded-circle" alt="Circular Image">*@
                    <img src="@Url.Content(item.Image)" style="width:80px;height:50px" class="rounded-circle" alt="Circular Image">
                    @*<img src="~/Images/food1.jpg" />*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Ajax.ActionLink("Edit", "Edit", new { id = item.CategoryId }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "Category" }, htmlAttributes: new { @class = "btn btn-primary" })
                     @*@Ajax.ActionLink("Details", "Details", new { id = item.CategoryId }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "Category" }, htmlAttributes: new { @class = "btn btn-primary" }) |*@
                    @*@Ajax.ActionLink("Delete", "Delete", new { id = item.CategoryId }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "Category" }, htmlAttributes: new { @class = "btn btn-danger" ,onclick="confirm('Are you Sure?')"})*@
                    @*@Ajax.ActionLink("Delete", "GetAll", new { id = item.CategoryId }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "Category" }, htmlAttributes: new { @class = "btn btn-danger" })*@




                </td>
            </tr>
        }

    </table>

</div>