@model IEnumerable<KershKeepers.Models.EFModels.Order>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Feedback)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Feedback)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.OrderId })*@

            @Ajax.ActionLink("Details", "GetOrderDetails","Order", new { id=item.OrderId},new AjaxOptions(){HttpMethod = "Get",UpdateTargetId = "detailsOrder", InsertionMode = InsertionMode.Replace,OnSuccess = "closeModal()" })


            @*@Html.ActionLink("Delete", "Delete", new { id=item.OrderId })*@
        </td>
    </tr>
}

</table>
